:root {
  --background: #222222;
  --foreground: #eeeeee;
  --foreground-muted: #eeeeee7f;
  --primary: #eeeeee;
}

html {
  font-size: 20px;
}

* {
  line-height: 1.5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  background: url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  padding: 1rem;
}

img {
  max-width: 100%;
  page-break-after: always;
}

a,
a:visited {
  color: var(--primary);
}

h1,
h2,
h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-weight: bold;
}

p,
ul,
ol {
  margin: 1rem 0;
}

footer {
  font-size: 0.6rem;
}

footer .left {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

footer .right {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

/* Start index specific styles */

.social_icon img {
  width: 0.6rem;
}

a.social_icon {
  text-decoration: none;
}

.spacer {
  display: inline-block;
  width: 0.2rem;
}

/* Start index specific styles */